@font-face {
    font-family: Whitney;
    font-style: light;
    font-weight: 300;
    src: url(./font/Whitney300.woff) format("woff")
}

@font-face {
    font-family: Whitney;
    font-style: normal;
    font-weight: 500;
    src: url(./font/Whitney500.woff) format("woff")
}

@font-face {
    font-family: Whitney;
    font-style: medium;
    font-weight: 600;
    src: url(.font/Whitney600.woff) format("woff")
}

@font-face {
    font-family: Whitney;
    font-style: bold;
    font-weight: 700;
    src: url(./font/Whitney700.woff) format("woff")
}

.main {
    font-family: Whitney, sans-serif;
    background-color: #1e2124;
    width: 312px;
    padding: 14px 20px;
    border-radius: 5px;
    float: left;
    background-image: url(./img/discord_logo_color.svg);
    background-repeat: no-repeat;
    background-position: 296px;
    background-size: 40px;
}

.icon {
    height: 32px;
    border-radius: 50%;
}

.name {
    padding-left: 10px;
    position: fixed;
    color: white;
    font-family: Whitney;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    display: inline-block;
}

.invite {
    padding-left: 10px;
    color: white;
    font-family: Whitney;
    font-size: 14px;
    line-height: 8px;
    display: inline-block;
}
